*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.load {
    border-style: none none none dotted;
    
}
.load:hover{
    border-style: none none dotted dotted;
}
@keyframes load {
    from {
        border-style: dotted none none none;
    }
    to {
        transform: border-style( none none  dotted none);
    }
    
    
}