.navbar{
    z-index: 80;
}
.noNav{
    display:none;
    
}
.button{
    padding: 10px 5px;
    color: #fff;
    background: #6d0a1e;
    border-style: none;
    border: 2px solid #c9ab85;
    border-bottom:#6d0a1e;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:500;
    font-size: 1em;
    border-radius: 3px ;
    margin-right: 2%;
}
.nav{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    background: #5d0d1e; 
    
}

