.input{
    background: #00242a;
    margin-left:20%;
    width: 80%;
    border: 2px solid #fff;
    border-radius:3px;
    font-size:0.8em;
    font-style: italic;
    color:#fff;
}
.form{
    display: flex;
    text-align: center;
    align-items: center;
    font-size:1.3em;
    font-weight: bold;
}